OPCUA-OpenUSD/opcua-nodered/flows.json
[
  {
    "id": "tab.live",
    "type": "tab",
    "label": "Robot Twin",
    "disabled": false,
    "info": "Dashboard wiring; do not edit manually — regenerated by gen_flows.py"
  },
  {
    "id": "opcua.endpoint",
    "type": "OpcUa-Endpoint",
    "endpoint": "opc.tcp://opcua-server:4840/axel/robot",
    "secpol": "None",
    "secmode": "None",
    "none": true,
    "login": false,
    "usercert": false,
    "usercertificate": "",
    "userprivatekey": ""
  },
  {
    "id": "ui.base",
    "type": "ui-base",
    "name": "Robot Twin",
    "path": "/nodered/ui",
    "appIcon": "",
    "showPathInSidebar": false,
    "showPageTitle": true,
    "navigationStyle": "default",
    "titleBarStyle": "default"
  },
  {
    "id": "ui.page.live",
    "type": "ui-page",
    "name": "Live",
    "ui": "ui.base",
    "path": "/live",
    "icon": "speedometer",
    "layout": "grid",
    "theme": "ui.theme",
    "order": 1,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.page.reco",
    "type": "ui-page",
    "name": "Recommendations",
    "ui": "ui.base",
    "path": "/recommendations",
    "icon": "checkbox-marked-circle-outline",
    "layout": "grid",
    "theme": "ui.theme",
    "order": 2,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.theme",
    "type": "ui-theme",
    "name": "Default Theme",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0094ce",
      "bgPage": "#eeeeee",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    },
    "sizes": {
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "8px",
      "widgetGap": "8px"
    }
  },
  {
    "id": "ui.grp.joints",
    "type": "ui-group",
    "name": "Joints (deg)",
    "page": "ui.page.live",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.temps",
    "type": "ui-group",
    "name": "Motor Temperatures (°C)",
    "page": "ui.page.live",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.status",
    "type": "ui-group",
    "name": "Status",
    "page": "ui.page.live",
    "width": 6,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.cycle",
    "type": "ui-group",
    "name": "Cycles",
    "page": "ui.page.live",
    "width": 6,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.reco",
    "type": "ui-group",
    "name": "Active Recommendation",
    "page": "ui.page.reco",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.approve",
    "type": "ui-group",
    "name": "Operator Approval",
    "page": "ui.page.reco",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "66a36d2c21cf4587",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis1_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis1_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "fd958dcef177422c"
      ]
    ]
  },
  {
    "id": "fd958dcef177422c",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis1_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis1.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "da21f0841cdf4021"
      ]
    ]
  },
  {
    "id": "da21f0841cdf4021",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 100,
    "wires": [
      [
        "9fab67f7684c46da"
      ]
    ]
  },
  {
    "id": "9fab67f7684c46da",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis1",
    "label": "Axis 1",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "fb30b768084344fe",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis2_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis2_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 170,
    "wires": [
      [
        "2fb02adef9cb484a"
      ]
    ]
  },
  {
    "id": "2fb02adef9cb484a",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis2_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis2.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 170,
    "wires": [
      [
        "4caa994399004a43"
      ]
    ]
  },
  {
    "id": "4caa994399004a43",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 170,
    "wires": [
      [
        "f313bd37630e4fc1"
      ]
    ]
  },
  {
    "id": "f313bd37630e4fc1",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis2",
    "label": "Axis 2",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "0325651b645b48ae",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis3_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis3_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 240,
    "wires": [
      [
        "9d457585adab41c5"
      ]
    ]
  },
  {
    "id": "9d457585adab41c5",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis3_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis3.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 240,
    "wires": [
      [
        "ddd4130862cf478e"
      ]
    ]
  },
  {
    "id": "ddd4130862cf478e",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 240,
    "wires": [
      [
        "f4368eb7fb08459f"
      ]
    ]
  },
  {
    "id": "f4368eb7fb08459f",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis3",
    "label": "Axis 3",
    "order": 3,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "44239e8319ad4284",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis4_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis4_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 310,
    "wires": [
      [
        "f69af6f2b5974c56"
      ]
    ]
  },
  {
    "id": "f69af6f2b5974c56",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis4_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis4.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 310,
    "wires": [
      [
        "d5e4e5cf0bb8449e"
      ]
    ]
  },
  {
    "id": "d5e4e5cf0bb8449e",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 310,
    "wires": [
      [
        "f45c907a21764506"
      ]
    ]
  },
  {
    "id": "f45c907a21764506",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis4",
    "label": "Axis 4",
    "order": 4,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "e5cec61ac6a64278",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis5_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis5_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 380,
    "wires": [
      [
        "755d0623c4674a90"
      ]
    ]
  },
  {
    "id": "755d0623c4674a90",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis5_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis5.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 380,
    "wires": [
      [
        "1378284df58849ca"
      ]
    ]
  },
  {
    "id": "1378284df58849ca",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 380,
    "wires": [
      [
        "f5fd3bbc137446f8"
      ]
    ]
  },
  {
    "id": "f5fd3bbc137446f8",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis5",
    "label": "Axis 5",
    "order": 5,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "a898c07a5ae84639",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis6_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis6_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 450,
    "wires": [
      [
        "1337aeac8ede4984"
      ]
    ]
  },
  {
    "id": "1337aeac8ede4984",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis6_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis6.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 450,
    "wires": [
      [
        "1d6b01823f184898"
      ]
    ]
  },
  {
    "id": "1d6b01823f184898",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 450,
    "wires": [
      [
        "1b3cf0c547d546bc"
      ]
    ]
  },
  {
    "id": "1b3cf0c547d546bc",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis6",
    "label": "Axis 6",
    "order": 6,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "eecdd035d3444f6f",
    "type": "function",
    "z": "tab.live",
    "name": "label motor temp series",
    "func": "// Pass-through that ensures msg.topic is the axis label so the chart renders one series per axis.\nmsg.topic = msg.topic || 'unknown';\nmsg.payload = Number(msg.payload);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 600,
    "wires": [
      [
        "8b7785af317541be"
      ]
    ]
  },
  {
    "id": "fd5030f249c54326",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis1_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis1_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 600,
    "wires": [
      [
        "ee83cd60286d4d89"
      ]
    ]
  },
  {
    "id": "ee83cd60286d4d89",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis1_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis1.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 600,
    "wires": [
      [
        "6cad7933296f4e13"
      ]
    ]
  },
  {
    "id": "6cad7933296f4e13",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 600,
    "wires": [
      [
        "eecdd035d3444f6f"
      ]
    ]
  },
  {
    "id": "184d0f41cff24232",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis2_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis2_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 650,
    "wires": [
      [
        "90e3a915ecc44244"
      ]
    ]
  },
  {
    "id": "90e3a915ecc44244",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis2_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis2.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 650,
    "wires": [
      [
        "74ef276ac6bb4ba7"
      ]
    ]
  },
  {
    "id": "74ef276ac6bb4ba7",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 650,
    "wires": [
      [
        "eecdd035d3444f6f"
      ]
    ]
  },
  {
    "id": "7fc3e98ae79a4571",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis3_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis3_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 700,
    "wires": [
      [
        "53b1da1c62064b76"
      ]
    ]
  },
  {
    "id": "53b1da1c62064b76",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis3_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis3.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 700,
    "wires": [
      [
        "a2a191d90cc9471a"
      ]
    ]
  },
  {
    "id": "a2a191d90cc9471a",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 700,
    "wires": [
      [
        "eecdd035d3444f6f"
      ]
    ]
  },
  {
    "id": "8c1a482d6f4c484b",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis4_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis4_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 750,
    "wires": [
      [
        "5563e6c9103c4f85"
      ]
    ]
  },
  {
    "id": "5563e6c9103c4f85",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis4_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis4.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 750,
    "wires": [
      [
        "796b227833014ae7"
      ]
    ]
  },
  {
    "id": "796b227833014ae7",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 750,
    "wires": [
      [
        "eecdd035d3444f6f"
      ]
    ]
  },
  {
    "id": "46d23bc8cf29438d",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis5_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis5_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 800,
    "wires": [
      [
        "138068293efc4f41"
      ]
    ]
  },
  {
    "id": "138068293efc4f41",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis5_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis5.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 800,
    "wires": [
      [
        "c57d4fb0ffe34513"
      ]
    ]
  },
  {
    "id": "c57d4fb0ffe34513",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 800,
    "wires": [
      [
        "eecdd035d3444f6f"
      ]
    ]
  },
  {
    "id": "8010f4210d7a4e0f",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis6_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis6_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 850,
    "wires": [
      [
        "78e03544f0d747a3"
      ]
    ]
  },
  {
    "id": "78e03544f0d747a3",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis6_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis6.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 850,
    "wires": [
      [
        "cf99e3ef55b64965"
      ]
    ]
  },
  {
    "id": "cf99e3ef55b64965",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 850,
    "wires": [
      [
        "eecdd035d3444f6f"
      ]
    ]
  },
  {
    "id": "8b7785af317541be",
    "type": "ui-chart",
    "z": "tab.live",
    "group": "ui.grp.temps",
    "name": "motor temps",
    "label": "Motor Temperatures",
    "order": 1,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisProperty": "",
    "xAxisPropertyType": "timestamp",
    "yAxisProperty": "payload",
    "yMin": "20",
    "yMax": "100",
    "action": "append",
    "limit": 240,
    "duration": "300",
    "durationUnit": "seconds",
    "showLegend": true,
    "removeOlder": "5",
    "removeOlderUnit": "60",
    "removeOlderPoints": "",
    "colors": [
      "#0094ce",
      "#76b900",
      "#f5a623",
      "#ff5d5d",
      "#9b51e0",
      "#5ce1e6"
    ],
    "width": 12,
    "height": 8,
    "className": ""
  },
  {
    "id": "cfbfe7017fbe4ead",
    "type": "inject",
    "z": "tab.live",
    "name": "poll ProgramState",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "ProgramState",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 1200,
    "wires": [
      [
        "4d4f05dcea98482e"
      ]
    ]
  },
  {
    "id": "4d4f05dcea98482e",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "ProgramState",
    "item": "ns=2;s=RobotController.ProgramState",
    "datatype": "Int32",
    "value": "",
    "x": 300,
    "y": 1200,
    "wires": [
      [
        "dbcd9cd728db4e75"
      ]
    ]
  },
  {
    "id": "dbcd9cd728db4e75",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 1200,
    "wires": [
      [
        "36a5313394ee4e18"
      ]
    ]
  },
  {
    "id": "36a5313394ee4e18",
    "type": "function",
    "z": "tab.live",
    "name": "ProgramState → label",
    "func": "const labels = {0:'Idle',1:'Starting',2:'Running',3:'Stopping',4:'Stopped',5:'Aborted',6:'MaintenanceRequired'};\nmsg.payload = labels[msg.payload] || 'Unknown';\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 1200,
    "wires": [
      [
        "e7476e15fec04ed9"
      ]
    ]
  },
  {
    "id": "e7476e15fec04ed9",
    "type": "ui-text",
    "z": "tab.live",
    "group": "ui.grp.status",
    "name": "ProgramState",
    "label": "Program State",
    "order": 1,
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 24,
    "color": "",
    "className": "",
    "width": 6,
    "height": 2
  },
  {
    "id": "8778fb69ff5a4f38",
    "type": "inject",
    "z": "tab.live",
    "name": "poll CycleCounter",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "CycleCounter",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 1280,
    "wires": [
      [
        "8e922b7fd5ac479c"
      ]
    ]
  },
  {
    "id": "8e922b7fd5ac479c",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "CycleCounter",
    "item": "ns=2;s=RobotController.CycleCounter",
    "datatype": "UInt64",
    "value": "",
    "x": 300,
    "y": 1280,
    "wires": [
      [
        "5983a3ddd40a40fd"
      ]
    ]
  },
  {
    "id": "5983a3ddd40a40fd",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 1280,
    "wires": [
      [
        "d95fc5fc6caf4e83"
      ]
    ]
  },
  {
    "id": "d95fc5fc6caf4e83",
    "type": "ui-text",
    "z": "tab.live",
    "group": "ui.grp.cycle",
    "name": "CycleCounter",
    "label": "Cycle",
    "order": 1,
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "fontSize": 36,
    "width": 6,
    "height": 2
  },
  {
    "id": "4c9e9ed3aa3b40ed",
    "type": "inject",
    "z": "tab.live",
    "name": "poll ActiveRecommendation",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "ActiveRecommendation",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 1400,
    "wires": [
      [
        "c3ae5169981743bb"
      ]
    ]
  },
  {
    "id": "c3ae5169981743bb",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "ActiveRecommendation",
    "item": "ns=3;s=RobotRecommendations.ActiveRecommendation",
    "datatype": "String",
    "value": "",
    "x": 300,
    "y": 1400,
    "wires": [
      [
        "c382af909b004e30"
      ]
    ]
  },
  {
    "id": "c382af909b004e30",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 1400,
    "wires": [
      [
        "da4982eefe444261"
      ]
    ]
  },
  {
    "id": "da4982eefe444261",
    "type": "ui-text",
    "z": "tab.live",
    "group": "ui.grp.reco",
    "name": "ActiveRecommendation",
    "label": "JSON",
    "order": 1,
    "format": "<pre>{{msg.payload}}</pre>",
    "layout": "row-spread",
    "fontSize": 14,
    "width": 12,
    "height": 8
  },
  {
    "id": "cc543328f38b4bdc",
    "type": "ui-button",
    "z": "tab.live",
    "group": "ui.grp.approve",
    "name": "Approve",
    "label": "Approve",
    "order": 1,
    "color": "#ffffff",
    "bgcolor": "#76b900",
    "icon": "check",
    "payload": "approve",
    "payloadType": "str",
    "topic": "approve",
    "topicType": "str",
    "width": 4,
    "height": 2,
    "wires": [
      [
        "da7296ee46fc46d3"
      ]
    ]
  },
  {
    "id": "85a791de8cfb454e",
    "type": "ui-button",
    "z": "tab.live",
    "group": "ui.grp.approve",
    "name": "Reject",
    "label": "Reject",
    "order": 2,
    "color": "#ffffff",
    "bgcolor": "#ff5d5d",
    "icon": "close",
    "payload": "reject",
    "payloadType": "str",
    "topic": "reject",
    "topicType": "str",
    "width": 4,
    "height": 2,
    "wires": [
      [
        "8262c603bb0141b8"
      ]
    ]
  },
  {
    "id": "da7296ee46fc46d3",
    "type": "function",
    "z": "tab.live",
    "name": "build approve method args",
    "func": "msg.methodId = 'ns=3;s=RobotRecommendations.ApproveRecommendation';\nmsg.objectId = 'ns=3;s=RobotRecommendations';\nmsg.inputArguments = [\n  { dataType: 'String', value: msg.recoId || 'current' },\n  { dataType: 'Boolean', value: true },\n];\nmsg.action = 'method';\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 1500,
    "wires": [
      [
        "2ff9f8b1039a4743"
      ]
    ]
  },
  {
    "id": "8262c603bb0141b8",
    "type": "function",
    "z": "tab.live",
    "name": "build reject method args",
    "func": "msg.methodId = 'ns=3;s=RobotRecommendations.ApproveRecommendation';\nmsg.objectId = 'ns=3;s=RobotRecommendations';\nmsg.inputArguments = [\n  { dataType: 'String', value: msg.recoId || 'current' },\n  { dataType: 'Boolean', value: false },\n];\nmsg.action = 'method';\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 1560,
    "wires": [
      [
        "5c895267eb5e4c16"
      ]
    ]
  },
  {
    "id": "2ff9f8b1039a4743",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "method",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "approve method",
    "x": 1000,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "5c895267eb5e4c16",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "method",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "reject method",
    "x": 1000,
    "y": 1560,
    "wires": [
      []
    ]
  }
]
