OPCUA-OpenUSD/opcua-nodered/flows.json
[
  {
    "id": "tab.live",
    "type": "tab",
    "label": "Robot Twin",
    "disabled": false,
    "info": "Dashboard wiring; do not edit manually — regenerated by gen_flows.py"
  },
  {
    "id": "opcua.endpoint",
    "type": "OpcUa-Endpoint",
    "endpoint": "opc.tcp://opcua-server:4840/axel/robot",
    "secpol": "None",
    "secmode": "None",
    "none": true,
    "login": false,
    "usercert": false,
    "usercertificate": "",
    "userprivatekey": ""
  },
  {
    "id": "ui.base",
    "type": "ui-base",
    "name": "Robot Twin",
    "path": "/dashboard",
    "appIcon": "",
    "showPathInSidebar": false,
    "showPageTitle": true,
    "navigationStyle": "default",
    "titleBarStyle": "default"
  },
  {
    "id": "ui.page.live",
    "type": "ui-page",
    "name": "Live",
    "ui": "ui.base",
    "path": "/live",
    "icon": "speedometer",
    "layout": "grid",
    "theme": "ui.theme",
    "order": 1,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.page.reco",
    "type": "ui-page",
    "name": "Recommendations",
    "ui": "ui.base",
    "path": "/recommendations",
    "icon": "checkbox-marked-circle-outline",
    "layout": "grid",
    "theme": "ui.theme",
    "order": 2,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.theme",
    "type": "ui-theme",
    "name": "Default Theme",
    "colors": {
      "surface": "#ffffff",
      "primary": "#0094ce",
      "bgPage": "#eeeeee",
      "groupBg": "#ffffff",
      "groupOutline": "#cccccc"
    },
    "sizes": {
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "8px",
      "widgetGap": "8px"
    }
  },
  {
    "id": "ui.grp.joints",
    "type": "ui-group",
    "name": "Joints (deg)",
    "page": "ui.page.live",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.temps",
    "type": "ui-group",
    "name": "Motor Temperatures (°C)",
    "page": "ui.page.live",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.status",
    "type": "ui-group",
    "name": "Status",
    "page": "ui.page.live",
    "width": 6,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.cycle",
    "type": "ui-group",
    "name": "Cycles",
    "page": "ui.page.live",
    "width": 6,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.reco",
    "type": "ui-group",
    "name": "Active Recommendation",
    "page": "ui.page.reco",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "ui.grp.approve",
    "type": "ui-group",
    "name": "Operator Approval",
    "page": "ui.page.reco",
    "width": 12,
    "height": 1,
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "b7f7b63f1d7e4e07",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis1_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis1_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 100,
    "wires": [
      [
        "f4e5dd8832bf4df7"
      ]
    ]
  },
  {
    "id": "f4e5dd8832bf4df7",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis1_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis1.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "89a9309fc67f4903"
      ]
    ]
  },
  {
    "id": "89a9309fc67f4903",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 100,
    "wires": [
      [
        "0abc11d64e25430b"
      ]
    ]
  },
  {
    "id": "0abc11d64e25430b",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis1",
    "label": "Axis 1",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "1489c0dba0554f3d",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis2_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis2_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 170,
    "wires": [
      [
        "638beb8dd73f401d"
      ]
    ]
  },
  {
    "id": "638beb8dd73f401d",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis2_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis2.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 170,
    "wires": [
      [
        "6d8c5d1e0ac64224"
      ]
    ]
  },
  {
    "id": "6d8c5d1e0ac64224",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 170,
    "wires": [
      [
        "30f686870e824392"
      ]
    ]
  },
  {
    "id": "30f686870e824392",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis2",
    "label": "Axis 2",
    "order": 2,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "866faf43fc32491b",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis3_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis3_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 240,
    "wires": [
      [
        "4a509700b1da4f91"
      ]
    ]
  },
  {
    "id": "4a509700b1da4f91",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis3_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis3.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 240,
    "wires": [
      [
        "bda16c3c23114b29"
      ]
    ]
  },
  {
    "id": "bda16c3c23114b29",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 240,
    "wires": [
      [
        "43b2b274f9d24049"
      ]
    ]
  },
  {
    "id": "43b2b274f9d24049",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis3",
    "label": "Axis 3",
    "order": 3,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "f9a059ad92db422c",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis4_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis4_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 310,
    "wires": [
      [
        "d50ab6dae2d24ea3"
      ]
    ]
  },
  {
    "id": "d50ab6dae2d24ea3",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis4_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis4.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 310,
    "wires": [
      [
        "5f940a329af14eca"
      ]
    ]
  },
  {
    "id": "5f940a329af14eca",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 310,
    "wires": [
      [
        "98305211fa67449d"
      ]
    ]
  },
  {
    "id": "98305211fa67449d",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis4",
    "label": "Axis 4",
    "order": 4,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "d496042013654b97",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis5_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis5_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 380,
    "wires": [
      [
        "5b2da0a26d9742db"
      ]
    ]
  },
  {
    "id": "5b2da0a26d9742db",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis5_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis5.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 380,
    "wires": [
      [
        "dfe8549a4751467b"
      ]
    ]
  },
  {
    "id": "dfe8549a4751467b",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 380,
    "wires": [
      [
        "96533143393b414b"
      ]
    ]
  },
  {
    "id": "96533143393b414b",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis5",
    "label": "Axis 5",
    "order": 5,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "2fe4f371007c4f6b",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis6_pos",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis6_pos",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 450,
    "wires": [
      [
        "1b1b819170944781"
      ]
    ]
  },
  {
    "id": "1b1b819170944781",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis6_pos",
    "item": "ns=2;s=RobotController.MotionDevice.Axis6.ActualPosition",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 450,
    "wires": [
      [
        "0ac78f78aa4c4862"
      ]
    ]
  },
  {
    "id": "0ac78f78aa4c4862",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 450,
    "wires": [
      [
        "b7d1daeefae841cf"
      ]
    ]
  },
  {
    "id": "b7d1daeefae841cf",
    "type": "ui-gauge",
    "z": "tab.live",
    "group": "ui.grp.joints",
    "name": "axis6",
    "label": "Axis 6",
    "order": 6,
    "width": 4,
    "height": 4,
    "gtype": "gauge",
    "min": -180,
    "max": 180,
    "units": "°",
    "icon": "",
    "iconColor": "#000000",
    "iconSize": 24,
    "segments": [
      {
        "from": "-180",
        "color": "#0094ce"
      },
      {
        "from": "180",
        "color": "#0094ce"
      }
    ],
    "className": ""
  },
  {
    "id": "f31ebdd5bfb64af9",
    "type": "function",
    "z": "tab.live",
    "name": "label motor temp series",
    "func": "// Pass-through that ensures msg.topic is the axis label so the chart renders one series per axis.\nmsg.topic = msg.topic || 'unknown';\nmsg.payload = Number(msg.payload);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 600,
    "wires": [
      [
        "5ed6ec732c844853"
      ]
    ]
  },
  {
    "id": "7b41230ca1ce4dd4",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis1_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis1_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 600,
    "wires": [
      [
        "334a522b71cf4225"
      ]
    ]
  },
  {
    "id": "334a522b71cf4225",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis1_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis1.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 600,
    "wires": [
      [
        "58e52b81180b4121"
      ]
    ]
  },
  {
    "id": "58e52b81180b4121",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 600,
    "wires": [
      [
        "f31ebdd5bfb64af9"
      ]
    ]
  },
  {
    "id": "235db08288fd4837",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis2_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis2_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 650,
    "wires": [
      [
        "dda8385c78a04fa9"
      ]
    ]
  },
  {
    "id": "dda8385c78a04fa9",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis2_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis2.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 650,
    "wires": [
      [
        "cf3ffa36a79a449f"
      ]
    ]
  },
  {
    "id": "cf3ffa36a79a449f",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 650,
    "wires": [
      [
        "f31ebdd5bfb64af9"
      ]
    ]
  },
  {
    "id": "edc91facb5f148c9",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis3_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis3_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 700,
    "wires": [
      [
        "627bc32e65c747de"
      ]
    ]
  },
  {
    "id": "627bc32e65c747de",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis3_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis3.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 700,
    "wires": [
      [
        "a06eef7eea904351"
      ]
    ]
  },
  {
    "id": "a06eef7eea904351",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 700,
    "wires": [
      [
        "f31ebdd5bfb64af9"
      ]
    ]
  },
  {
    "id": "deacce3376ad471f",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis4_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis4_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 750,
    "wires": [
      [
        "eedd0aebd41b4ec2"
      ]
    ]
  },
  {
    "id": "eedd0aebd41b4ec2",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis4_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis4.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 750,
    "wires": [
      [
        "9b09f47b504343d0"
      ]
    ]
  },
  {
    "id": "9b09f47b504343d0",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 750,
    "wires": [
      [
        "f31ebdd5bfb64af9"
      ]
    ]
  },
  {
    "id": "9c9960bbe7f84980",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis5_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis5_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 800,
    "wires": [
      [
        "48bd80885e5541d2"
      ]
    ]
  },
  {
    "id": "48bd80885e5541d2",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis5_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis5.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 800,
    "wires": [
      [
        "240e4c71dac7460a"
      ]
    ]
  },
  {
    "id": "240e4c71dac7460a",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 800,
    "wires": [
      [
        "f31ebdd5bfb64af9"
      ]
    ]
  },
  {
    "id": "c8ae4d0424864e3f",
    "type": "inject",
    "z": "tab.live",
    "name": "poll axis6_motorT",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "axis6_motorT",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 850,
    "wires": [
      [
        "fd567c8117d446a2"
      ]
    ]
  },
  {
    "id": "fd567c8117d446a2",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "axis6_motorT",
    "item": "ns=2;s=RobotController.MotionDevice.Axis6.MotorTemperature",
    "datatype": "Double",
    "value": "",
    "x": 300,
    "y": 850,
    "wires": [
      [
        "355ca0bae6034308"
      ]
    ]
  },
  {
    "id": "355ca0bae6034308",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 850,
    "wires": [
      [
        "f31ebdd5bfb64af9"
      ]
    ]
  },
  {
    "id": "5ed6ec732c844853",
    "type": "ui-chart",
    "z": "tab.live",
    "group": "ui.grp.temps",
    "name": "motor temps",
    "label": "Motor Temperatures",
    "order": 1,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisProperty": "",
    "xAxisPropertyType": "timestamp",
    "yAxisProperty": "payload",
    "yMin": "20",
    "yMax": "100",
    "action": "append",
    "limit": 240,
    "duration": "300",
    "durationUnit": "seconds",
    "showLegend": true,
    "removeOlder": "5",
    "removeOlderUnit": "60",
    "removeOlderPoints": "",
    "colors": [
      "#0094ce",
      "#76b900",
      "#f5a623",
      "#ff5d5d",
      "#9b51e0",
      "#5ce1e6"
    ],
    "width": 12,
    "height": 8,
    "className": ""
  },
  {
    "id": "c4637bef31f846fa",
    "type": "inject",
    "z": "tab.live",
    "name": "poll ProgramState",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "ProgramState",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 1200,
    "wires": [
      [
        "5f7328821edd45a2"
      ]
    ]
  },
  {
    "id": "5f7328821edd45a2",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "ProgramState",
    "item": "ns=2;s=RobotController.ProgramState",
    "datatype": "Int32",
    "value": "",
    "x": 300,
    "y": 1200,
    "wires": [
      [
        "7c0981bcdcb74b5b"
      ]
    ]
  },
  {
    "id": "7c0981bcdcb74b5b",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 1200,
    "wires": [
      [
        "50660a55ee214420"
      ]
    ]
  },
  {
    "id": "50660a55ee214420",
    "type": "function",
    "z": "tab.live",
    "name": "ProgramState → label",
    "func": "const labels = {0:'Idle',1:'Starting',2:'Running',3:'Stopping',4:'Stopped',5:'Aborted',6:'MaintenanceRequired'};\nmsg.payload = labels[msg.payload] || 'Unknown';\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 1200,
    "wires": [
      [
        "a71a50c59f344eb0"
      ]
    ]
  },
  {
    "id": "a71a50c59f344eb0",
    "type": "ui-text",
    "z": "tab.live",
    "group": "ui.grp.status",
    "name": "ProgramState",
    "label": "Program State",
    "order": 1,
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 24,
    "color": "",
    "className": "",
    "width": 6,
    "height": 2
  },
  {
    "id": "f8780a0f61a44933",
    "type": "inject",
    "z": "tab.live",
    "name": "poll CycleCounter",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "CycleCounter",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 1280,
    "wires": [
      [
        "b04ffaa56a894d17"
      ]
    ]
  },
  {
    "id": "b04ffaa56a894d17",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "CycleCounter",
    "item": "ns=2;s=RobotController.CycleCounter",
    "datatype": "UInt64",
    "value": "",
    "x": 300,
    "y": 1280,
    "wires": [
      [
        "16ebe41628d643df"
      ]
    ]
  },
  {
    "id": "16ebe41628d643df",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 1280,
    "wires": [
      [
        "79c3d59b266d442e"
      ]
    ]
  },
  {
    "id": "79c3d59b266d442e",
    "type": "ui-text",
    "z": "tab.live",
    "group": "ui.grp.cycle",
    "name": "CycleCounter",
    "label": "Cycle",
    "order": 1,
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "fontSize": 36,
    "width": 6,
    "height": 2
  },
  {
    "id": "e969e660077b4f24",
    "type": "inject",
    "z": "tab.live",
    "name": "poll ActiveRecommendation",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "0.25",
    "crontab": "",
    "once": true,
    "onceDelay": "1.0",
    "topic": "ActiveRecommendation",
    "payload": "",
    "payloadType": "date",
    "x": 100,
    "y": 1400,
    "wires": [
      [
        "d8dd3e0d4dbd4dd6"
      ]
    ]
  },
  {
    "id": "d8dd3e0d4dbd4dd6",
    "type": "OpcUa-Item",
    "z": "tab.live",
    "name": "ActiveRecommendation",
    "item": "ns=3;s=RobotRecommendations.ActiveRecommendation",
    "datatype": "String",
    "value": "",
    "x": 300,
    "y": 1400,
    "wires": [
      [
        "bb2303e1859442cb"
      ]
    ]
  },
  {
    "id": "bb2303e1859442cb",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "read",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "",
    "x": 480,
    "y": 1400,
    "wires": [
      [
        "c720e472b02f430b"
      ]
    ]
  },
  {
    "id": "c720e472b02f430b",
    "type": "ui-text",
    "z": "tab.live",
    "group": "ui.grp.reco",
    "name": "ActiveRecommendation",
    "label": "JSON",
    "order": 1,
    "format": "<pre>{{msg.payload}}</pre>",
    "layout": "row-spread",
    "fontSize": 14,
    "width": 12,
    "height": 8
  },
  {
    "id": "31c4aba0190a4a9e",
    "type": "ui-button",
    "z": "tab.live",
    "group": "ui.grp.approve",
    "name": "Approve",
    "label": "Approve",
    "order": 1,
    "color": "#ffffff",
    "bgcolor": "#76b900",
    "icon": "check",
    "payload": "approve",
    "payloadType": "str",
    "topic": "approve",
    "topicType": "str",
    "width": 4,
    "height": 2,
    "wires": [
      [
        "63f31b34358e4436"
      ]
    ]
  },
  {
    "id": "f11064078ebb42fb",
    "type": "ui-button",
    "z": "tab.live",
    "group": "ui.grp.approve",
    "name": "Reject",
    "label": "Reject",
    "order": 2,
    "color": "#ffffff",
    "bgcolor": "#ff5d5d",
    "icon": "close",
    "payload": "reject",
    "payloadType": "str",
    "topic": "reject",
    "topicType": "str",
    "width": 4,
    "height": 2,
    "wires": [
      [
        "633ca6a91e80462b"
      ]
    ]
  },
  {
    "id": "63f31b34358e4436",
    "type": "function",
    "z": "tab.live",
    "name": "build approve method args",
    "func": "msg.methodId = 'ns=3;s=RobotRecommendations.ApproveRecommendation';\nmsg.objectId = 'ns=3;s=RobotRecommendations';\nmsg.inputArguments = [\n  { dataType: 'String', value: msg.recoId || 'current' },\n  { dataType: 'Boolean', value: true },\n];\nmsg.action = 'method';\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 1500,
    "wires": [
      [
        "2c8135d8b9424020"
      ]
    ]
  },
  {
    "id": "633ca6a91e80462b",
    "type": "function",
    "z": "tab.live",
    "name": "build reject method args",
    "func": "msg.methodId = 'ns=3;s=RobotRecommendations.ApproveRecommendation';\nmsg.objectId = 'ns=3;s=RobotRecommendations';\nmsg.inputArguments = [\n  { dataType: 'String', value: msg.recoId || 'current' },\n  { dataType: 'Boolean', value: false },\n];\nmsg.action = 'method';\nreturn msg;",
    "outputs": 1,
    "x": 700,
    "y": 1560,
    "wires": [
      [
        "218d7d18a2cc4952"
      ]
    ]
  },
  {
    "id": "2c8135d8b9424020",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "method",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "approve method",
    "x": 1000,
    "y": 1500,
    "wires": [
      []
    ]
  },
  {
    "id": "218d7d18a2cc4952",
    "type": "OpcUa-Client",
    "z": "tab.live",
    "endpoint": "opcua.endpoint",
    "action": "method",
    "deadbandtype": "a",
    "deadbandvalue": 1,
    "time": 10,
    "timeUnit": "s",
    "certificate": "n",
    "localfile": "",
    "localkeyfile": "",
    "securitymode": "None",
    "securitypolicy": "None",
    "name": "reject method",
    "x": 1000,
    "y": 1560,
    "wires": [
      []
    ]
  }
]
